.statistics {
  text-align: center;
  border: 1px black solid;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}

.statList {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
